### URL de conexión para la base de datos. ###

# Para SQLite, la ruta es relativa a la carpeta donde se ejecuta la app.
DATABASE_URL="sqlite:///./inventory.db"

# Para usar PostgreSQL en el futuro, la URL se vería así:
# DATABASE_URL="postgresql://user:password@host:port/dbname"

### ###